attrs==21.4.0
click==8.0.4
coverage==6.3.2
Flask==2.0.3
Flask-JWT-Extended==4.3.1
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
iniconfig==1.1.1
itsdangerous==2.1.0
Jinja2==3.0.3
MarkupSafe==2.1.0
packaging==21.3
pluggy==1.0.0
py==1.11.0
PyJWT==2.3.0
PyMySQL==1.0.2
pyparsing==3.0.7
pytest==7.0.1
pytest-cov==3.0.0
pytest-flask==1.2.0
pytest-sugar==0.9.4
SQLAlchemy==1.4.31
termcolor==1.1.0
tomli==2.0.1
Werkzeug==2.0.3
