@import './../_variables.scss';

/*   Desktop   */
@media all and (max-width: 1920px) {
  .result-button {
    text-align: center;
    display: block;
    margin: auto;
    opacity: 0.87;
  }

  .download-button {
    background: $recordDownloadButtonColor;
  }

  .delete-button {
    background: $recordDeleteButtonColor;
  }

  .page-buttons {
    width: 100%;
    text-align: center;
  }

  .page-button {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    color: $pageNumColor;
    background: $pageButtonColor;
    opacity: $pageNumOpacity;
  }

  .question-sign {
    margin-right: 5px;
  }

  .filename {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .title > span:nth-of-type(1) {
    margin-right: 5px;
  }

  .sortable > span:nth-of-type(1) {
    cursor: pointer;
  }

  .sortable > span:nth-of-type(1):hover {
    text-decoration: underline;
  }

  .page-button:hover {
    opacity: calc($pageNumOpacity + 0.1);
  }

  .num-page.active {
    color: $currentPageNumColor;
    opacity: calc($pageNumOpacity + 0.2);
  }
}



/*   Mobile   */
@media (max-width: 768px) {
  .page-button {
    color: $pageNumColorDarkTheme;
    background: $pageButtonColorDarkTheme;
  }
}