@import './../_variables.scss';

/*   Desktop   */
@media all and (max-width: 1920px) {
  .result-button {
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 0;
    opacity: 0.87;
  }

  .history-headbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1em;
  }

  .date-search {
    display: flex;
    margin-bottom: 1rem;
    justify-content: flex-end;
    align-items: center;

    .pickers {
      display: inherit;
      justify-content: inherit;
      align-items: inherit;
      position: relative;

      .error {
        position: absolute;
        font-size: 12px;
        width: max-content;
        left: 50%;
        transform: translate(-50%, 100%);
        bottom: -5px;
      }
    }

    label {
      margin: 0 1em;
    }

    label:nth-of-type(1) {
      margin-left: 0;
    }

    .search-button {
      margin: 0;
      margin-left: 1em;
    }

    input[type="date"] {
      height: 44px;
      padding: 0 15px;
      font-family: "Roboto Mono", monospace;
      font-size: 12px;
      outline: none;
      border-radius: 5px;
    }
  }

  .download-button {
    background: $recordDownloadButtonColor;
  }

  .delete-button {
    background: $recordDeleteButtonColor;
  }

  .page-buttons {
    width: 100%;
    text-align: center;
  }

  .page-button {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    color: $pageNumColor;
    background: $pageButtonColor;
    opacity: $pageNumOpacity;
  }

  .question-sign {
    margin-right: 5px;
  }

  .filename {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .title > span:nth-of-type(1) {
    margin-right: 5px;
  }

  .sortable > span:nth-of-type(1) {
    cursor: pointer;
  }

  .sortable > span:nth-of-type(1):hover {
    text-decoration: underline;
  }

  .page-button:hover {
    opacity: calc($pageNumOpacity + 0.1);
  }

  .num-page.active {
    color: $currentPageNumColor;
    opacity: calc($pageNumOpacity + 0.2);
  }
}

::webkit-calendar-picker-indicator {
  cursor: pointer;
}

/*   Mobile   */
@media (max-width: 768px) {
  .page-button {
    color: $pageNumColorDarkTheme;
    background: $pageButtonColorDarkTheme;
  }

  .history-headbar {
    display: block;

    .date-search {
      justify-content: flex-start;
    }
  }
}