@import './_variables.scss';
// Jenka


/* --- Light Theme --- */

/*   Desktop   */
@media all {
  /* Page Content
  ––––––––––––––––––––––––––––––––– */
  .page-content {
    display: flex;
    flex-direction: column;
    min-width: 450px;
    //margin: 25px 0;
    .inside-padding {
      padding: 50px calc((100vw / 25) * 1.563) 10px calc((100vw / 25) * 1.563);
    }
  }

  main {
    content-item {
      margin: 25px 0;
    }
  }

  .sections {
    flex-direction: row;
  }

  .special-word {
    color: $selectedWordColor;
    font-weight: bold;
  }

  .question-info {
    font-size: 14px;
    opacity: .77;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
  }
  .question-info:hover {
    opacity: 1;
  }

   /* Top Bar
  ––––––––––––––––––––––––––––––––– */
  #top-bar {
    position: sticky;
    top: 0;
    left: 0;
    align-items: center;
    width: 100%;
    min-height: 100px;
    min-width: 450px;
    padding: (-$scrinVerticalSpaceSize) (-$scrinHorizontalSpaceSize) 0 (-$scrinHorizontalSpaceSize);
    z-index: 10;
    opacity: 1;
  }

  #big-top-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    padding: 20px $scrinHorizontalSpaceSize;
    background: $bigTopNavColor;
    transition: transform .3s ease 0;
  }

  #logo-title {
    background: $logoTittleColor;
    font-size: 45px;
    text-transform: capitalize;
    transition: transform .3s ease 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  #small-top-bar {
    height: 30px;
    background: $smallTopNavColor;
    transition: transform .3s ease 0;
  }

  img {
    transition: transform .3s ease 0;
  }

  nav {
    margin: 0;
    margin-left:auto;
    padding: 0;
    button {
      margin: 0;
    }

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap-reverse;
      justify-content: flex-end;
      align-content: flex-start;
      margin: 0 -5px;
      & > * {
        margin: 0 10px 0 10px;
      }

      li {
        list-style-type:none;
        a {
          text-decoration: none;
        }
      }

      .logo-title + li {
        margin-left: auto;
      }
    }
  }

  header {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    a {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      text-decoration: none;
      * {
        margin: 0 5px;
      };

      :first-child {
        margin-left: -5px;
      }

      :last-child {
        margin-right: -5px;
      };
    }
  }

  /* Top Bar Button
  ––––––––––––––––––––––––––––––––– */
  .navButton {
    display: block;
    text-align: center;
    padding: 0.5rem 1.25rem;
    border-radius: 10px;
    background-color: $navButtonColor;
    border: 2px solid $navButtonColor;
    color: $navButtonTextColor;
    line-height: initial;
    font-size: 1rem;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;
    transition: background-color 200ms ease-in-out, border 200ms ease-in-out,
      transform 200ms ease-in-out;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-touch-callout: none;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;

  }

  .navButton {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    * {
      margin: 0 2px;
    };

    :first-child {
      margin-left: -5px;
    }

    :last-child {
      margin-right: -5px;
    };
  }

  @media (hover: hover) {
  .navButton:hover {
      background-color: $navButtonHoverColor;
      border-color: $navButtonHoverColor;
      cursor: pointer;
    }
  }

  .navButton:focus {
    outline: none;
  }

  .historyButton {
    margin-left: auto;
  }

  #logoutButton {
    white-space: nowrap;
  }

  /* Display User Login
  ––––––––––––––––––––––––––––––––– */
  #userLogin {
    max-width: 100px;
    margin-right: 4px;
    color: $authTextColor;
    word-wrap: normal;
    text-transform: none;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* Sign Up and Log In
  ––––––––––––––––––––––––––––––––– */
  .sign-up-page, .log-in-page {
    transition: transform .3s ease 0;
    h2, form, label, button, p {
      margin-left: auto;
      margin-right: auto;
      transition: transform .3s ease 0;
    }
  }
}


/*   Mobile   */
@media (max-width: 768px) {
   /* Top Bar
  ––––––––––––––––––––––––––––––––– */
  #big-top-bar {
    height: 110px;
  }
  #logo-title {
    font-size: 60px;
  }

  .logo-icon {
    transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    -moz-transform: scale(2);
    margin-right: 30px;
  }

  nav {
    a {
      transform: scale(1.3);
      -webkit-transform: scale(1.3);
      -o-transform: scale(1.3);
      -moz-transform: scale(1.3);
    }
  }

  /* Sign Up and Log In
  ––––––––––––––––––––––––––––––––– */
  .sign-up-page, .log-in-page {
    h2, button, p {
      transform: scale(1.3);
      -webkit-transform: scale(1.3);
      -o-transform: scale(1.3);
      -moz-transform: scale(1.3);
    }
  }
}


/* --- Dark Theme --- */
@media (prefers-color-scheme: dark) {
  /* Top Bar
  ––––––––––––––––––––––––––––––––– */
  #big-top-bar {
    background: $bigTopNavColorDarkTheme;
  }

  #small-top-bar {
    background: $smallTopNavColorDarkTheme;
  }

  /* Top Bar Button
  ––––––––––––––––––––––––––––––––– */
  .navButton {
      background-color: $navButtonColorDarkTheme;
      border-color: $navButtonColorDarkTheme;
      color: $navButtonTextColor;
  }
}


/* Top Bar Button
––––––––––––––––––––––––––––––––– */
@media (hover: hover) and (prefers-color-scheme: dark) {
  .navButton:hover {
    cursor: pointer;
    background-color: $navButtonHoverColorDarkTheme;
    border-color: $navButtonHoverColorDarkTheme;
  }
}