@import './../_variables.scss';
// Jenka


/*   Desktop   */
@media all and (max-width: 1920px) {
  .menu-title {
    left: -100%;
    margin-top: 0;
    margin-bottom: 0;
    opacity: 0;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    transition: all 0.3s ease 0s;
  }
}



/* --- Light Theme --- */

/*   Mobile   */
@media (max-width: 768px) {
  /* Top Bar Burger Menu
  ––––––––––––––––––––––––––––––––– */
  .App._lock {
    overflow: hidden;
  }

  .top-bar-icon {
    z-index: 5;
    display: block;
    position: absolute;
    right: calc((100vw / 25) * 1.563);
    width: 40px;
    height: 26px;
    cursor: pointer;
  }

  .top-bar-icon span,
  .top-bar-icon::before,
  .top-bar-icon::after {
    position: absolute;
    left: 0;
    height: $topBarIconPos;
    width: 100%;
    background-color: #718096;
    border-radius: 25px;
    transition: all 0.3s ease 0s;
  }

  .top-bar-icon._active span,
  .top-bar-icon._active::before,
  .top-bar-icon._active::after {
    background-color: #e2e8f0;
  }

  .top-bar-icon::before,
  .top-bar-icon::after {
    content: "";
  }

  .top-bar-icon::before {
    top: 0;
  }

  .top-bar-icon::after {
    bottom: 0;
  }

  .top-bar-icon span {
    top: calc(50% - ($topBarIconPos / 2));
    transform: scale (1) translate(0, -50%);
  }

  .sections::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;
    background-color: $bigTopNavColor;
    border-bottom-width: 30px;
    border-bottom-style: solid;
    border-bottom-color: $smallTopNavColor;
    content: "";
    z-index: 2;
    opacity: 0;
  }

  .sections {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    padding: 100px 30px 30px 30px;
    transition: all 0.3s ease 0s;
    transform: translate(100%, 0);
    overflow: auto;
    ul {
      //justify-content: flex-start;
      flex-direction: column;
      flex-wrap: wrap-reverse;
      position: absolute;
      top: 170px;
      right: calc((100vw / 25) * 1.563);
      li {
        margin-left: auto;
        margin-top: 16px;
        margin-bottom: 16px;
        button {
          margin-right: 0;
          margin-left: auto;
        }
      }

      :first-child {
        margin-top: 0;
      }

      :last-child {
        margin-bottom: 0;
      }

       a, button {
        font-size: 20px;
      }

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  .sections._active {
    background: rgba(0, 0, 0, 0.9);
    transform: translate(0, 0);
  }

  .sections._active::before {
    opacity: 1;
  }

  .menu-title {
    position: absolute;
    left: 100%;
    margin-top: 0;
    margin-bottom: 0;
    z-index: 10;
    opacity: 0;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
  }

  .menu-title._active {
    position: absolute;
    left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: calc((100vw / 25) * 1.563);
    margin-right: auto;
    font-size: 50px;
    z-index: 10;
    opacity: 1;
    transition: all 0.3s ease 0s;
  }
}


/* --- Dark Theme --- */
@media (prefers-color-scheme: dark) {
  .sections::before {
    background-color: $bigTopNavColorDarkTheme;
    border-bottom-color: $smallTopNavColorDarkTheme;
  }
}