@import './../_variables.scss';
// Jenka

.anim-ellipsis {
  display: inline-block;

  span {
    position: relative;
    animation: bounce 1.6s infinite ease-in-out;
  }
}

.anim-ellipsis span:nth-child(1) {
  animation-delay: 0s;
}

.anim-ellipsis span:nth-child(2) {
  animation-delay: 0.2s;
}

.anim-ellipsis span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%   { top: 0; }
  10%  { top: 1px; }
  35%  { top: -4px; }
  60%  { top: 0; }
  100% { top: 0; }
}

/*   Desktop   */
@media all and (max-width: 1920px) {
  /* Positioning Elements
  ––––––––––––––––––––––––––––––––– */
  .in-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-flow: space-between;
    margin-bottom: 10px;
  }

  .flex-item {
    flex: 1 1 auto;
    margin: 0 10px;
    transition: 300ms;
  }
}


/*   Mobile   */
@media (max-width: 768px) {

}


/* --- Dark Theme --- */
@media (prefers-color-scheme: dark) {
  .titles {
    th {
      border-color: var(--gray-500);
      color: var(--gray-500);
    }
  }

  .sub-title_list {
    background: $hintBackgroundColorDarkTheme;
  }
}