@import './../_variables.scss';
// Jenka



/* --- Light Theme --- */

/*   Desktop   */

@media all and (max-width: 1920px) {
  /* Analyzer Info
  ––––––––––––––––––––––––––––––––– */
  .project-name {
    font-size: 30px;
    font-weight: bold;
    color: $selectedWordColor;
  }

  .description {
    max-width:870px;
    p {
      font-size: 18px;
    }

    * {
      margin: 25px 0;
    };
  }

  @media (max-width: 1570px) {
    .description {
      max-width: none;
    }
  }

  .project-info {
    margin: 0;
    padding: 10px 30px;
    border-radius: 7px;
    background: rgba($dragAndDropZoneColor, $projectInfoOpacity);
  }


}



// Mobile

@media (max-width: 768px) {
  .project-name {
    font-size: 34px;
  }
  .description {
    p {
      font-size: 22px;
    }
  }
}



/* --- Dark Theme --- */



@media (prefers-color-scheme: dark) {
  .project-info {
    background: rgba($dragAndDropZoneColor, calc(1 - $projectInfoOpacity));
  }
}