@import './../_variables.scss';
// Mixturkin


/* DnD Element
––––––––––––––––––––––––––––––––– */
.dnd-container {
  display: block;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  padding: 45px;
  background-color: rgba($dragAndDropZoneColor, $dragAndDropZoneOpacity);
  border: 4.6px dashed $dragAndDropZoneBorderColor;
}

.dnd-container-active {
  display: block;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  padding: 45px;
  border: 4.6px dashed $dragAndDropZoneBorderColor;
  background-color: rgba($dragAndDropActiveZoneColor, .6);
}

.dnd-unselectable-p {
  text-align: center;
  color: #9593d8;
  font-size: 36px;
  font-weight: bold;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.dnd-select-button{
  display: block;
  text-align: center;
  width: 300px;
  height: 50px;
  margin: auto;
  background-color: $selectButtonColor;
  border: 2px solid $selectButtonColor;
  border-radius: 10px;
  color: $selectButtonTextColor;
}



// Jenka


/* DnD Element
––––––––––––––––––––––––––––––––– */
.dnd-container {
   margin-top: 20px;
   margin-bottom: 20px;
   border-radius: 7px;
   transition: 200ms;
}

.dnd-container-active {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 200px;
  border-radius: 7px;
  transition: 200ms;

  :first-child {
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
  }

  :not(:first-child) {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
  }
}

@media (hover: hover){
  .dnd-select-button:hover {
    background-color: $selectButtonTextColor;
    border-color: $selectButtonTextColor;
    color: $selectButtonColor;
  }
}

@media (prefers-color-scheme: dark) {
  .dnd-container {
    background: rgba($dragAndDropZoneColor, calc(1 - $dragAndDropZoneOpacity));
    border-color: rgba($dragAndDropZoneBorderColor, $dragAndDropZoneOpacity);
  }

  .dnd-container-active {
    background-color: rgba($dragAndDropActiveZoneColor, .3);
  }

  .dnd-select-button {
    background-color: $selectButtonColorDarkTheme;
    border-color: $selectButtonColorDarkTheme;
    color: $selectButtonTextColorDarkTheme;
  }
}

@media (hover: hover) and (prefers-color-scheme: dark) {
  .dnd-select-button:hover {
    background-color: $selectButtonTextColorDarkTheme;
    border-color: $selectButtonTextColorDarkTheme;
    color: $selectButtonColorDarkTheme;
  }
}