@import './../_variables.scss';
// Jenka


/* --- Light Theme --- */

/*   Desktop   */
@media all and (max-width: 1920px) {
  /* Hint
  ––––––––––––––––––––––––––––––––– */
  .hint-area {
    position: fixed;
    right: 26px;
    bottom: 8px;
    top: auto;
    left: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-end;
    width: 300px;
    ul {
      margin: 0;
      * {
        padding: 8px 0;
      }

      span {
        font-weight: bold;
      }

      //li {
      //}
    }
  }

  .hint-modal-window {
    position: relative;
    display: none;
    z-index: 1;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: auto;
    visibility: hidden;
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    // Transition не работает с display:none
    //-webkit-transition: opacity 200ms ease-in;
    //-moz-transition: opacity 200ms ease-in;
    //transition: opacity 200ms ease-in;
  }

  .hint-modal-window.active {
    display: block;
    z-index: 1;
    opacity: $hintBackgroundOpacity;
    visibility: visible;
    pointer-events: auto;
    user-select: auto;
    -moz-user-select: auto;
    -khtml-user-select: auto;
    -webkit-user-select: auto;
  }

  .hint-content {
    background: $hintBackgroundColor;
    border: 2px solid $hintBorderColor;
    border-radius: 7px;
    color: $hintTextColor;
    font-size: 12px;
    padding: 10px;
    z-index: 10;
  }

  .triangle-down {
    width: 0;
    height: 0;
    border-top: 10px solid $hintBorderColor;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
  }

  .right-triangle-align {
    margin-right: 24px;
    margin-left: auto;
  }

  .hint-button {
    position: relative;
    margin-top: 4px;
    margin-right: 0;
    margin-left: auto;
    padding: 7px 22px;
    //padding: 10px 15px;
    background: $logoTittleColor;
    border: 2px solid #ffffff;
    border-radius: 25px;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    z-index: 1000;
    opacity: 0.9;
  }

  .hint-button:hover {
    opacity: 1;
    cursor: pointer;
  }
}


/*   Mobile   */
@media (max-width: 768px) {
  .hint-area {
    position: fixed;
    right: 45px;
    bottom: 30px;
    transform: scale(1.15);
  }
}


/* --- Dark Theme --- */
@media (prefers-color-scheme: dark) {
  .hint-content {
    background: $hintBackgroundColorDarkTheme;
    border: 2px solid $hintBorderColorDarkTheme;
    color: $hintTextColorDarkTheme;
  }
}