/* Цвета и шрифт */
// Верхняя панель
$bigTopNavColor: #001a3b;
$smallTopNavColor: #bfb9ff;
$smallTopNavColorDark: #b4b0e2;
$navButColor: #062649;
$navButTxtColor: #afafaf;
$navPlayButColor: #b4b0e2;
$smallTopNavTxtColor: #f7f7f7;
$selectedElemColor: #ff9999;
$sliderColor: #e5e5e5;
$sliderPntColor: #f7f7f7;

//Контент страницы
$bgPgColor: #ffffff;
$txtColor: #4e4e50;
$txtSelectedColor: #9593d8;
$ttlColor: #afafaf;
$smallTtlColor: #afafaf;
$signColor: #afafaf;
$recColor: #7fafe5;
$recTxtColor: #856285;
$recWaitTxtColor: #9e9e9e;
$playButColor: #97e8f5;
$downloadButColor: #97e862;
$delButColor: #e5638e;
$pgNumColor: #bfb9ff;

//Авторизация
$authTxtColor: #8d9cda;
$authAddTxtColor: #7f7f7f;
$authBoarderColor: #9593d8;
$authBtnColor: #f5f5ff;
$authBtnTxtColor: #9593d8;
$authBtnPtColor: #ffffff;
$authBtnPtBgColor: #e2e2e2;
$authSelectedBtnPtBgColor: #9593d8;

//Анализатор
$mainTitleColor: #dedeff;
$dragAndDropZoneColor: #efefef;
$dragAndDropSmallZoneColor: #dedeff;
$dragAndDropZoneBorderColor: #bfb9ff;
$dragAndDropZoneTextColor: #9593d8;
$foggingColor: #ffffff;
$selectFileButColor: #bfb9ff;
$hintColor: #f7f7f7;
$hintBorderColor: #838385;
$hintTxtColor: #4e4e50;


/* Прозрачность */
$recOp: 10%;
$fileButOp: 57%;
$pgNumOp: 22%;
$authBoarderOp: 87%;
$authBtnTxtOp: 87%;
$dragAndDropZoneOp: 37%;
$dragAndDropBorderZoneOp: 87%;
$foggingOp: 34%;
$selectFileButOp: 49%;
$mainTitleOp: 37%;


/* Толщина рамок */
$dragAndDropZoneBorderSize: 3px;
$dragAndDropSmallZoneBorderSize: 1.5px;
$hintBorderSize: 1px;


/* Стиль рамки */
$dragAndDropZoneBorderStyle: solid;
$dragAndDropSmallZoneBorderStyle: dashed;
$hintBorderStyle: solid;


/* Шрифты */
$mainFont: Fira Sans;


/* Стили шрифтов */
$mainFontStyle: Medium;


/* Размеры шрифтов */
$logoFontSize: 65px;
$txtFontSize: 30px;
$txtSelectedColor: 30px;
$ttlFontSize: 30px;
$smallTtlFontSize: 26px;
$signFontSize: 18px;
$navButFontSize: 36px;
$authButFontSize: 36px;
$dragAndDropZoneTextFontSize: 50px;
$selectFileButFontSize: 36px;
$hintTxtFontSize: 18px;
$hintSignSize: 55px;


/* Тень */


/* Скругления */

